mycpu.hw/mycpu.lpr
mycpu.xpr
.idea/edaphic/defines.xml
mycpu.cache/wt/gui_handlers.wdf
mycpu.cache/wt/webtalk_pa.xml
mycpu.cache/wt/project.wpc
.idea/edaphic/defines.xml
mycpu.cache/wt/java_command_handlers.wdf
